body {
    font: 14px "Century Gothic", Futura, sans-serif !important;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
}

#main-screen {
    width: 100%;
}

#quoteCard {
    max-width: 500px;
    height: 280px;
    justify-content: space-around;
    margin: 20vh auto;
}